@model JosephGuadagno.Broadcasting.Web.Models.ScheduledItemViewModel
@{
    ViewData["Title"] = "Scheduled Item";
}
<h1>Schedule</h1>
<h2>Item Details</h2>
<dl class="row">
    <dt class="col-sm-3">Id</dt>
    <dd class="col-sm-9">@Model.Id</dd>
    <dt class="col-sm-3">Type</dt>
    <dd class="col-sm-9">@Model.ItemTableName</dd>
    <dt class="col-sm-3">Primary Key</dt>
    <dd class="col-sm-9">@Model.ItemPrimaryKey</dd>
    <dt class="col-sm-3">Source Item</dt>
    <dd class="col-sm-9">@(Model.SourceItemDisplayName ?? "–")</dd>
    <dt class="col-sm-3">Scheduled on</dt>
    <dd class="col-sm-9"><local-time value="@Model.SendOnDateTime" /></dd>
    <dt class="col-sm-3">Message</dt>
    <dd class="col-sm-9">@Model.Message</dd>
    <dt class="col-sm-3">Sent on</dt>
    <dd class="col-sm-9"><local-time value="@Model.MessageSentOn" /></dd>
    <dt class="col-sm-3">Was sent</dt>
    <dd class="col-sm-9">@if (Model.MessageSent)
                         {
                             <i class="bi bi-check-circle text-success"></i>
                         }
                         else
                         {
                             <i class="bi bi-x-circle text-danger"></i>
                         }</dd>
</dl>
<br />
<a asp-action="Edit" asp-controller="Schedules" asp-route-id="@Model.Id" class="btn btn-primary">
    <i class="bi bi-pencil me-2"></i>Edit
</a>
<a asp-action="Delete" asp-controller="Schedules" asp-route-id="@Model.Id" class="btn btn-danger">
    <i class="bi bi-trash me-2"></i>Delete
</a> 
