@model List<JosephGuadagno.Broadcasting.Web.Models.ScheduledItemViewModel>

@{
    ViewData["Title"] = "View Scheduled Items";
}
<div class="text-center">
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Table Name</th>
            <th scope="col">Key</th>
            <th scope="col">Schedule Send DateTime</th>
            <th scope="col">Was Sent</th>
            <th scope="col">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var scheduledItem in @Model)
        {
            <tr>

                <td>@scheduledItem.ItemTableName</td>
                <td>@scheduledItem.ItemPrimaryKey</td>
                <td><local-time value="@scheduledItem.SendOnDateTime" /></td>
                <td>@if (scheduledItem.MessageSent)
                    {
                        <i class="bi bi-check-circle text-success"></i>
                    }
                    else
                    {
                        <i class="bi bi-x-circle text-danger"></i>
                    }
                    </td>
                <td>
                    <a asp-controller="Schedules" asp-action="Details" asp-route-id="@scheduledItem.Id" class="btn btn-outline-secondary">
                        <i class="bi bi-eye"></i>
                    </a>
                    <a asp-action="Edit" asp-controller="Schedules" asp-route-id="@scheduledItem.Id" class="btn btn-outline-secondary">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <a asp-action="Delete" asp-controller="Schedules" asp-route-id="@scheduledItem.Id" class="btn btn-danger">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <a asp-action="Add" asp-controller="Schedules" class="btn btn-primary">
        <i class="bi bi-calendar-plus me-2"></i>Add Scheduled Item
    </a>
</div>
