@model List<JosephGuadagno.Broadcasting.Web.Models.ScheduledItemViewModel>?

@{
    ViewData["Title"] = "Upcoming Scheduled Items";
}
@if (@Model is null)
{
    <p class="lead">There are no upcoming items that have not been sent.</p>
}
else
{
    <div class="text-center">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Table Name</th>
                <th scope="col">Key</th>
                <th scope="col">Schedule Send DateTime</th>
                <th scope="col">Was Sent</th>
                <th scope="col">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var scheduledItem in @Model)
            {
                <tr>
                    <td><a asp-controller="Schedules" asp-action="Details" asp-route-id="@scheduledItem.Id">@scheduledItem.Id</a></td>
                    <td>@scheduledItem.ItemTableName</td>
                    <td>@scheduledItem.ItemPrimaryKey
                        @if (!string.IsNullOrEmpty(scheduledItem.ItemSecondaryKey))
                        {
                            var scheduledItemKey = $"/{scheduledItem.ItemSecondaryKey}";
                            @scheduledItemKey
                        }
                    </td>
                    <td>@scheduledItem.ScheduleDateTime</td>
                    <td>
                        @if (scheduledItem.MessageSent)
                        {
                            <i class="bi bi-check-circle text-success"></i>
                        }
                        else
                        {
                            <i class="bi bi-x-circle text-danger"></i>
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-controller="Schedules" asp-route-id="@scheduledItem.Id" class="btn btn-primary">
                            <i class="bi bi-pencil me-2"></i>Edit
                        </a>
                        <a asp-action="Delete" asp-controller="Schedules" asp-route-id="@scheduledItem.Id" class="btn btn-danger">
                            <i class="bi bi-trash me-2"></i>Delete
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <a asp-action="Add" asp-controller="Schedules" class="btn btn-primary">
            <i class="bi bi-calendar-plus me-2"></i>Add Scheduled Item
        </a>
    </div>
}
