@model JosephGuadagno.Broadcasting.Web.Models.EngagementViewModel

@{
    ViewData["Title"] = $"Engagement '{@Model.Name}'";
}

<h1>@Model.Name</h1>
<h2>Engagement Details</h2>
<dl class="row">
    <dt class="col-sm-3">Id</dt>
    <dd class="col-sm-9">@Model.Id</dd>
    <dt class="col-sm-3">Url</dt>
    <dd class="col-sm-9"><a href="@Model.Url" target="_blank">@Model.Url</a></dd>
    <dt class="col-sm-3">Event Time Zone</dt>
    <dd class="col-sm-9">@Model.TimeZoneId</dd>
    <dt class="col-sm-3">Start Date/Time</dt>
    <dd class="col-sm-9"><local-time value="@Model.StartDateTime" /></dd>
    <dt class="col-sm-3">End Date/Time</dt>
    <dd class="col-sm-9"><local-time value="@Model.EndDateTime" /></dd>
    <dt class="col-sm-3">Comments</dt>
    <dd class="col-sm-9">@Model.Comments</dd>
    <dt class="col-sm-3">Created On</dt>
    <dd class="col-sm-9"><local-time value="@Model.CreatedOn" /></dd>
    <dt class="col-sm-3">Last Updated On</dt>
    <dd class="col-sm-9"><local-time value="@Model.LastUpdatedOn" /></dd>
</dl>
@if (Model.Talks is not null && Model.Talks.Count > 0)
{
    <h3>Talks</h3>
    @foreach (var talk in Model.Talks)
    {
        <div class="card mb-3">
            <div class="card-header">@talk.Name</div>
            <div class="card-body">
                <p>Starts at <local-time value="@talk.StartDateTime" /> to <local-time value="@talk.EndDateTime" /></p>
                @if (!string.IsNullOrEmpty(talk.TalkLocation))
                {
                    <p>Location: @talk.TalkLocation</p>
                }
                @if (!string.IsNullOrEmpty(talk.Comments))
                {
                    <p>Comments: @talk.Comments</p>
                }
                <a asp-controller="Talks" asp-action="Details" asp-route-talkId="@talk.Id" asp-route-engagementId="@Model.Id" class="btn btn-outline-secondary"><i class="bi bi-eye me-2"></i>View</a>
                <a asp-controller="Talks" asp-action="Edit" asp-route-talkId="@talk.Id" asp-route-engagementId="@Model.Id" class="btn btn-outline-secondary"><i class="bi bi-pencil me-2"></i>Edit</a>
                <a href="@talk.UrlForConferenceTalk" target="_blank" class="btn btn-outline-secondary"><i class="bi bi-box-arrow-up-right me-2"></i>Conference Url</a>
                <a href="@talk.UrlForTalk" target="_blank" class="btn btn-outline-secondary"><i class="bi bi-box-arrow-up-right me-2"></i>Talk Url</a>
            </div>
        </div>
    }
}

<div class="mt-3">
    <a asp-action="Edit" asp-controller="Engagements" asp-route-id="@Model.Id" class="btn btn-primary">
        <i class="bi bi-pencil me-2"></i>Edit
    </a>
    <a asp-action="Delete" asp-controller="Engagements" asp-route-id="@Model.Id" class="btn btn-danger">
        <i class="bi bi-trash me-2"></i>Delete
    </a>
    <a asp-action="Add" asp-controller="Talks" asp-route-engagementId="@Model.Id" class="btn btn-secondary">
        <i class="bi bi-easel me-2"></i>Add New Talk
    </a>
</div>
