@model JosephGuadagno.Broadcasting.Web.Models.EngagementViewModel

@{
    ViewData["Title"] = $"Engagement '{@Model.Name}'";
}

<h1>@Model.Name</h1>
<h2>Engagement Details</h2>
<dl class="row">
    <dt class="col-sm-3">Id</dt>
    <dd class="col-sm-9">@Model.Id</dd>
    <dt class="col-sm-3">Url</dt>
    <dd class="col-sm-9"><a href="@Model.Url" target="_blank">@Model.Url</a></dd>
    <dt class="col-sm-3">Start Date/Time</dt>
    <dd class="col-sm-9">@Model.StartDateTime</dd>
    <dt class="col-sm-3">End Date/Time</dt>
    <dd class="col-sm-9">@Model.EndDateTime</dd>
    <dt class="col-sm-3">Comments</dt>
    <dd class="col-sm-9">@Model.Comments</dd>
</dl>
@if (@Model.Talks is not null && @Model.Talks.Count > 0)
{
    <h3>Talks</h3>
    <div>
        @foreach (var talk in @Model.Talks)
        {
            <dl class="row">
                <dt class="col-sm-3">Id / Name</dt>
                <dd class="col-sm-9">@talk.Id / @talk.Name</dd>
                <dt class="col-sm-3">Url for conference talk</dt>
                <dd class="col-sm-9"><a href="@talk.UrlForConferenceTalk" target="_blank">@talk.UrlForConferenceTalk</a></dd>
                <dt class="col-sm-3">Url for talk</dt>
                <dd class="col-sm-9"><a href="@talk.UrlForTalk" target="_blank">@talk.UrlForTalk</a></dd>
                <dt class="col-sm-3">Start Date/Time</dt>
                <dd class="col-sm-9"> @talk.StartDateTime</dd>
                <dt class="col-sm-3">End Date/Time</dt>
                <dd class="col-sm-9"> @talk.EndDateTime</dd>
                <dt class="col-sm-3">Talk Location</dt>
                <dd class="col-sm-9">@talk.TalkLocation</dd>
                <dt class="col-sm-3">Comments</dt>
                <dd class="col-sm-9">@talk.Comments</dd>
            </dl>
        }
    </div>
}
<br />
<a asp-action="Edit" asp-controller="Engagements" asp-route-id="@Model.Id" class="btn btn-primary">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
    </svg> Edit
</a>
<a asp-action="Delete" asp-controller="Engagements" asp-route-id="@Model.Id" class="btn btn-danger">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
    </svg> Delete
</a> 