@model JosephGuadagno.Broadcasting.Web.Models.EngagementViewModel

@{
    ViewData["Title"] = $"Engagement '{@Model.Name}'";
}

<h1>@Model.Name</h1>
<h2>Engagement Details</h2>
<dl class="row">
    <dt class="col-sm-3">Id</dt>
    <dd class="col-sm-9">@Model.Id</dd>
    <dt class="col-sm-3">Url</dt>
    <dd class="col-sm-9"><a href="@Model.Url" target="_blank">@Model.Url</a></dd>
    <dt class="col-sm-3">Event Time Zone</dt>
    <dd class="col-sm-9">@Model.TimeZoneId</dd>
    <dt class="col-sm-3">Start Date/Time</dt>
    <dd class="col-sm-9">@Model.StartDateTime</dd>
    <dt class="col-sm-3">End Date/Time</dt>
    <dd class="col-sm-9">@Model.EndDateTime</dd>
    <dt class="col-sm-3">Comments</dt>
    <dd class="col-sm-9">@Model.Comments</dd>
</dl>
@if (@Model.Talks is not null && @Model.Talks.Count > 0)
{
    <h3>Talks</h3>
    <div>
        @foreach (var talk in @Model.Talks)
        {
            <dl class="row">
                <dt class="col-sm-3">Id / Name</dt>
                <dd class="col-sm-9">@talk.Id / @talk.Name</dd>
                <dt class="col-sm-3">Url for conference talk</dt>
                <dd class="col-sm-9"><a href="@talk.UrlForConferenceTalk" target="_blank">@talk.UrlForConferenceTalk</a></dd>
                <dt class="col-sm-3">Url for talk</dt>
                <dd class="col-sm-9"><a href="@talk.UrlForTalk" target="_blank">@talk.UrlForTalk</a></dd>
                <dt class="col-sm-3">Start Date/Time</dt>
                <dd class="col-sm-9"> @talk.StartDateTime</dd>
                <dt class="col-sm-3">End Date/Time</dt>
                <dd class="col-sm-9"> @talk.EndDateTime</dd>
                <dt class="col-sm-3">Talk Location</dt>
                <dd class="col-sm-9">@talk.TalkLocation</dd>
                <dt class="col-sm-3">Comments</dt>
                <dd class="col-sm-9">@talk.Comments</dd>
            </dl>
        }
    </div>
}
<br />
<a asp-action="Edit" asp-controller="Engagements" asp-route-id="@Model.Id" class="btn btn-primary">
    <i class="bi bi-pencil me-2"></i>Edit
</a>
<a asp-action="Delete" asp-controller="Engagements" asp-route-id="@Model.Id" class="btn btn-danger">
    <i class="bi bi-trash me-2"></i>Delete
</a> 
<a asp-action="Add" asp-controller="Talks" asp-route-engagementId="@Model.Id" class="btn btn-secondary">
    <i class="bi bi-easel me-2"></i>Add New Talk
</a> 
