@model JosephGuadagno.Broadcasting.Web.Models.EngagementViewModel

@{
    ViewData["Title"] = $"Edit - {Model.Name}";
}

<h1>Edit Engagement '@Model.Name'</h1>
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name" class="control-label">Name</label>
        <input asp-for="Name" type="text" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Url" class="control-label">Url</label>
        <input asp-for="Url" type="url" class="form-control" />
        <span asp-validation-for="Url" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TimeZoneId" class="control-label">Event Time Zone</label>
        <select asp-for="TimeZoneId" asp-items="@(new SelectList(Model.TimeZones))" class="form-select">
            <option>Please select a Time Zone</option>
        </select>
        <span asp-validation-for="TimeZoneId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Start Date/Time</label>
        <input asp-for="StartDateTime" type="datetime-local" class="form-control" />
        <span asp-validation-for="StartDateTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">End Date/Time</label>
        <input asp-for="EndDateTime" type="datetime-local" class="form-control" />
        <span asp-validation-for="EndDateTime"  class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Comments" class="control-label">Comments</label>
        <input asp-for="Comments" type="text" class="form-control" />
        <span asp-validation-for="Comments" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">
        <i class="bi bi-floppy me-2"></i>Save
    </button>
</form>
<h2 class="pt-2">Talks</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Start Date/Time</th>
        <th scope="col">End Date/Time</th>
        <th scope="col">&nbsp;</th>    
    </tr>
    </thead>
    <tbody>
    @if (Model.Talks is null || Model.Talks.Count == 0)
    {
        <tr><td colspan="5">There are no talks for this engagement</td></tr>
    }
    else
    {
        @foreach (var talk in @Model.Talks)
        {
            <tr>
                <td>@talk.Name</td>
                <td>@talk.StartDateTime</td>
                <td>@talk.EndDateTime</td>
                <td>
                    <a asp-action="Details" asp-controller="Talks" asp-route-engagementId="@Model.Id" asp-route-talkId="@talk.Id" class="btn btn-outline-secondary">
                        <i class="bi bi-eye"></i>
                    </a>
                    <a asp-action="Edit" asp-controller="Talks" asp-route-engagementId="@Model.Id" asp-route-talkId="@talk.Id" class="btn btn-outline-secondary">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <a asp-action="Delete" asp-controller="Talks" asp-route-engagementId="@Model.Id" asp-route-talkId="@talk.Id" class="btn btn-danger">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>

<a asp-action="Add" asp-controller="Talks" asp-route-engagementId="@Model.Id" class="btn btn-primary">
    <i class="bi bi-easel me-2"></i>Add New Talk
</a>
