@model List<JosephGuadagno.Broadcasting.Web.Models.EngagementViewModel>
@{
    ViewData["Title"] = "View Engagements";
}
<div class="text-center">
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col" class="col-2">Time Zone</th>
            <th scope="col" class="col-2">Start Date</th>
            <th scope="col" class="col-2">End Date</th>
            <th scope="col" class="col-1">Updated</th>
            <th scope="col" class="col-3">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var engagement in @Model)
        {
            <tr>
                <td>@engagement.Name
                    <a href="@engagement.Url" title="@engagement.Url" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a>
                </td>
                <td>@engagement.TimeZoneId</td>
                <td>@engagement.StartDateTime</td>
                <td>@engagement.EndDateTime</td>
                <td>@engagement.LastUpdatedOn.ToString("MM/dd/yyyy")</td>
                <td class="text-end">
                    <a asp-action="Details" asp-controller="Engagements" asp-route-id="@engagement.Id" class="btn btn-outline-secondary">
                        <i class="bi bi-eye"></i>
                    </a>
                    <a asp-action="Edit" asp-controller="Engagements" asp-route-id="@engagement.Id" class="btn btn-outline-secondary">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a asp-action="Delete" asp-controller="Engagements" asp-route-id="@engagement.Id" class="btn btn-danger">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <a asp-action="Add" asp-controller="Engagements" class="btn btn-primary">
        <i class="bi bi-calendar4-range me-2"></i>Add New Engagement
    </a>
</div>
