@model JosephGuadagno.Broadcasting.Web.Models.TalkViewModel

@{
    ViewData["Title"] = $"Talk '{@Model.Name}'";
}

<h1>@Model.Name</h1>
<h2>Talk Details</h2>
<input type="hidden" asp-for="EngagementId"/>
<dl class="row">
    <dt class="col-sm-3">Id / Name</dt>
    <dd class="col-sm-9">@Model.Id / @Model.Name</dd>
    <dt class="col-sm-3">Url for conference talk</dt>
    <dd class="col-sm-9"><a href="@Model.UrlForConferenceTalk" target="_blank">@Model.UrlForConferenceTalk</a></dd>
    <dt class="col-sm-3">Url for talk</dt>
    <dd class="col-sm-9"><a href="@Model.UrlForTalk" target="_blank">@Model.UrlForTalk</a></dd>
    <dt class="col-sm-3">Start Date/Time</dt>
    <dd class="col-sm-9"><local-time value="@Model.StartDateTime" /></dd>
    <dt class="col-sm-3">End Date/Time</dt>
    <dd class="col-sm-9"><local-time value="@Model.EndDateTime" /></dd>
    <dt class="col-sm-3">Talk Location</dt>
    <dd class="col-sm-9">@Model.TalkLocation</dd>
    <dt class="col-sm-3">Comments</dt>
    <dd class="col-sm-9">@Model.Comments</dd>
</dl>

<a asp-action="Edit" asp-controller="Talks" asp-route-engagementId="@Model.EngagementId" asp-route-talkId="@Model.Id" class="btn btn-primary">
    <i class="bi bi-pencil me-2"></i>Edit
</a>
<a asp-action="Delete" asp-controller="Talks" asp-route-engagementId="@Model.EngagementId" asp-route-talkId="@Model.Id" class="btn btn-danger">
    <i class="bi bi-trash me-2"></i>Delete
</a> 
<a asp-action="Details" asp-controller="Engagements" asp-route-id="@Model.EngagementId" class="btn btn-light">
    <i class="bi bi-calendar4-range me-2"></i>Go to Engagement
</a> 
